.wrapper{
			font-size: 65.2%;
			background-color: rgba(119, 119, 119, 0.1);
			text-align: center;
			padding: 2em 5em;
		}
		.top{
			height: 5em;
			margin: auto;
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.heading{
			margin-top: 2em;
			text-transform: uppercase;
			font-size: 3em;
			display: block;
		}

		.name {
			text-align: left;
			font-size: 2.5em;

		}

		.text{
			font-size: 2em;
			padding: 1em 2em;
		}

		.mailActionBtn {
			background-color:#55b3f1f3;
			border-radius:1em;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Times New Roman;
			font-size:1.8em;
			font-weight:bold;
			text-decoration:none;
			text-transform: uppercase;
			-webkit-border-radius:1em;
			-moz-border-radius:1em;
			-ms-border-radius:1em;
			-o-border-radius:1em;
			padding: 10px 10px;
			height: 30px;
		}
		.mailActionBtn:hover {
			background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
			background-color:#408c99;
			position: relative;
			top: -0.2em;
		}
		.mailActionBtn:active {
			position:relative;
			top:0.5em;
		}
