*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    width: 60%;
    margin: 0 auto;
    line-height: 1.7;
    box-sizing: border-box;
    background-color: rgba(119, 119, 119, 0.2);
}
.wrapper{
    text-align: center;
    padding: 2rem 5rem;
}
.top{
    height: 5rem;
    margin: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.heading{
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
    display: block;
}

.name {
    text-align: left;
    font-size: 2.5rem;

}

.text{
    font-size: 2rem;
    padding: 2rem 5rem;
}

.mailActionBtn {
    background-color:#55b3f1f3;
    border-radius:1rem;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:1.8rem;
    font-weight:bold;
    padding:1.5rem .8rem;
    text-decoration:none;
    text-transform: uppercase;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
    height: 6rem;
}
.mailActionBtn:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
    position: relative;
    top: -0.2rem;
}
.mailActionBtn:active {
    position:relative;
    top:0.5rem;
}